.container
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.box
{
    background-color: lightgray;
    position: fixed;
    height: 100px;
    width: 100px;
}
.box-1
{
    background-color: lightslategray;
    position: relative;
    height: 150px;
    
}
.box-2
{
    background-color: darkgrey;
    position: absolute;
    height: 100px;
    width: 300px;
    right: -10px;
    bottom: -10px;
}